*{
    margin: 0px;
    padding: 0px;
    font-family: arial, sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url("amazon_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/** Delivery to India**/

.delivery{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 16px;
}

.india{
    font-size: 1rem;
    margin-left: 2px;
}

.nav-location{
    display: flex;
    align-items: center;
}

/** Amazon Search **/

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 187, 0);
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border:2px solid  #febd68 ;
    border-radius: 4px;
}

.search-selector{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-bar{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon{
    width: 45px;
    border: none;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

span{
    font-size: 0.79rem;
}

.nav-para{
    font-size: 0.85rem;
    font-weight: 700;
}

/** nav cart **/

.nav-cart i{
    font-size: 1.5rem;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/** panel **/
.panel{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222f3d;
    color: white;
}

.panel-ops p{
    display: inline;
    margin-left: 15px;
    font-size: 0.9rem;
}

.menu-icon{
    font-size: 0.9rem;
}

/** Main Section **/

.hero-section{
    height: 300px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    height: 40px;
    width: 97%;
    color: black;
    background-color: white;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

 .hero-msg a{
    color: #007185;
}

/** Main Shop Section **/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 15px;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    margin-top: 20px;
    padding: 20px 0px 15px;
}

.box-image1{
    background-size: cover;
    height: 260px;
    width: 100%;
    margin-top: 15px;
}

.box-content{
    padding: 0 15px;
    margin: 0;
}

.shop-section p{
    color: #007185;
    font-size: 0.9rem;
    margin-top: 28px;
}

/** Sign in Section **/
.sign-content{
    height: 120px;
    background-color: white;
    text-align: center;
    margin-top: 60px;
}

.sign-box h2{
    padding: 0px 0px 5px;
}

.sign-box p{
    font-size: 0.9rem;
}

p a{
    color: #007185;
}

.sign-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 2px solid transparent;
    height: 30px;
    width: 300px;
    border-radius: 20px;
    color: black;
    background-color: #f8c21e;
}

.sign-button-div:hover{
    background-color: #dda706;
}

/** Footer **/
.foot-panel{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #37475a;
    color: white;
    font-size: 0.9rem;
}

.foot-panel2{
    height: 300px;
    background-color: #1b2530;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

ul{
    margin-top: 25px;
}

ul p{
    font-weight: 700;
}

ul a{
    display: block;
    color: #dddddd;
    font-size: 0.9rem;
    margin-top: 10px;
}

.foot-panel3{
    height: 70px;
    background-color: #1b2530;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4{
    height: 80px;
    background-color: #0f1111;
    color: white;
    font-size: 0.9rem;
    text-align: center;
}

.pages{
    padding-top: 25px;
}

.copyright{
    padding: 5px;
}

/* 1. Base / Desktop CSS */

/* 2. Tablet */
@media (max-width: 992px) {
    .nav-search{
        width: 500px;
    }

    .box{
        width: 45%;
    }
}

/* 3. Mobile */
@media (max-width: 768px) {
    .navbar{
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }
   .nav-search{
    width: 100%;
    margin: 10px 0;
   }

   .panel-ops{
    display: none;
   }

   .box{
    width: 90%;
    height: auto;
   }

   .box-image1{
    height: 200px;
    background-size: cover;
    background-position: center;
   }

   .sign-content{
     margin-top: 20px;
     padding: 20px 10px;
   }

   .sign-button-div{
    margin: 10px auto;
    width: 90%;
    height: 40px;
   }

   .foot-panel{
     margin-top: 15px;
   }

   .foot-panel2{
    flex-direction: column;
    height: auto;
    align-items: center;
   }

   ul{
    margin-bottom: 20px;
   }
}

/* 4. Small Mobile */
@media (max-width: 480px) {

    .hero-msg{
        font-size: 0.75rem;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .navlogo{
        width: 80px;
    }
}





